= simple_form_for @hardware do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .field
    = f.label :device_type
    = f.text_field :device_type
  .field
    = f.label :device_model
    = f.text_field :device_model
  .field
    = f.label :sn
    = f.text_field :sn
  .field
    = f.label :describe
    = f.text_field :describe
  .field
    = f.label :code_number
    = f.text_field :code_number
  .field
    = f.label :purchase_price
    = f.text_field :purchase_price
  .field
    = f.label :procesor
    = f.text_field :procesor
  .field
    = f.label :ram
    = f.text_field :ram
  .field
    = f.label :disk
    = f.text_field :disk
  .field
    = f.label :screen
    = f.text_field :screen
  .field
    = f.label :dvd
    = f.text_field :dvd
  .field
    = f.label :video_card
    = f.text_field :video_card
  .field
    = f.label :battery
    = f.text_field :battery
  .field
    = f.label :operating_system
    = f.text_field :operating_system
  .field
    = f.label :warranty
    = f.text_field :warranty
  .field
    = f.label :equipment
    = f.text_field :equipment
  .field
    = f.label :date_of_purchase
    = f.date_select :date_of_purchase
  -if @hardware.sold
    .field
      = f.label :sale_date
      = f.date_select :sale_date
  .field
    = f.label :price
    = f.text_field :price
  .field
    = f.label :information_for_us
    = f.rich_text_area :information_for_us
  .field
    = f.label :information_for_user
    = f.rich_text_area :information_for_user
  .actions
    = f.submit 'Save'