= simple_form_for @hardware do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .field
    = f.label "Załaduj piki:"
  %br
    = f.file_field :main_image
  .field
    = f.file_field :thumb_image
  %br
  %br
  .field
    = f.label "Załaduj wiele zdjęć:"
  %br
  .field
  / .row
  /   .col-md-12
  /     = f.fields_for :image do |ff|
  /       .field
  /         = ff.label t :image
  /         %br/
  /         = ff.hidden_field :image_cache
  /         = ff.file_field :image, multiple: true, name: "images[]"
  /         %b
  /         - @hardware.images.each do |image|
  /           = image_tag image.image_url(:hardwares_image)
  /           %h5= link_to "Delete", image_path(image), :method => :delete    
  .field
    = f.label t :device_type
    = f.text_field :device_type
  .field
    = f.label t :device_model
    = f.text_field :device_model
  .field
    = f.label t :sn
    = f.text_field :sn
  .field
    = f.label t :describe
    = f.text_field :describe
  .field
    = f.label t :code_number
    = f.text_field :code_number
  .field
    = f.label t :purchase_price
    = f.text_field :purchase_price
  .field
    = f.label t :procesor
    = f.text_field :procesor
  .field
    = f.label t :ram
    = f.text_field :ram
  .field
    = f.label t :disk
    = f.text_field :disk
  .field
    = f.label t :screen
    = f.text_field :screen
  .field
    = f.label t :dvd
    = f.text_field :dvd
  .field
    = f.label t :video_card
    = f.text_field :video_card
  .field
    = f.label t :battery
    = f.text_field :battery
  .field
    = f.label t :operating_system
    = f.text_field :operating_system
  .field
    = f.label t :warranty
    = f.text_field :warranty
  .field
    = f.label t :equipment
    = f.text_field :equipment
  .field
    = f.label t :date_of_purchase
    = f.date_select :date_of_purchase
  .field
    = f.label t :sold
    = f.check_box :sold
  -if @hardware.sold
    .field
      = f.label t :sale_date
      = f.date_select :sale_date
  .field
    = f.label t :price
    = f.text_field :price
  .field
    = f.label t :information_for_us
    = f.text_area :information_for_us
  .field
    = f.label t :information_for_user
    = f.text_area :information_for_user
  .actions
    = f.submit 'Zapisz'