%h1 Listing hardwares

%table
  %thead
    %tr
      %th Device Type
      %th Device Model
      %th Purchase price
      %th Sold
      %th Procesor
      %th Ram
      %th Disk
      %th Screen
      %th Video card
      %th Operating system
      %th Price
      %th
      %th
      %th

  %tbody
    - @hardwares.each do |hardware|
      %tr
        %td= hardware.device_type
        %td= hardware.device_model
        %td= hardware.purchase_price
        -if hardware.sold
          %td 
            %span{:style => "color: green;"}
              %i.fas.fa-check
        -else 
          %td
            %span{:style => "color: red;"}
              %i.fas.fa-times  
        %td= hardware.procesor
        %td= hardware.ram
        %td= hardware.disk
        %td= hardware.screen
        %td= hardware.video_card
        %td= hardware.operating_system
        %td= hardware.price
        %td= link_to 'Show', hardware
        %td= link_to 'Edit', edit_hardware_path(hardware)
        %td= link_to 'Destroy', hardware, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Hardware', new_hardware_path
