%h1 Listing hardwares

%table
  %thead
    %tr
      %th Device Type
      %th Device Model
      %th Sn
      %th Describe
      %th Code number
      %th Purchase price
      %th Sold
      %th Procesor
      %th Ram
      %th Disk
      %th Screen
      %th Dvd
      %th Video card
      %th Battery
      %th Operating system
      %th Warranty
      %th Equipment
      %th Date of purchase
      %th Sale date
      %th Price
      %th
      %th
      %th

  %tbody
    - @hardwares.each do |hardware|
      %tr
        %td= hardware.device_type
        %td= hardware.device_model
        %td= hardware.sn
        %td= hardware.describe
        %td= hardware.code_number
        %td= hardware.purchase_price
        %td= hardware.sold
        %td= hardware.procesor
        %td= hardware.ram
        %td= hardware.disk
        %td= hardware.screen
        %td= hardware.dvd
        %td= hardware.video_card
        %td= hardware.battery
        %td= hardware.operating_system
        %td= hardware.warranty
        %td= hardware.equipment
        %td= hardware.date_of_purchase
        %td= hardware.sale_date
        %td= hardware.price
        %td= link_to 'Show', hardware
        %td= link_to 'Edit', edit_hardware_path(hardware)
        %td= link_to 'Destroy', hardware, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Hardware', new_hardware_path
