%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %a.navbar-brand{:href => "#"} PBKOMP
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        .nav-link
          = link_to 'Start', pages_home_path
          %span.sr-only (current)
      %li.nav-item
        .nav-link
          = link_to 'Urządzenia', hardwares_path
      %li.nav-item.dropdown
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          Oferta
        .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
          %a.dropdown-item{:href => "#"} Internet szerokopasmowy
          %a.dropdown-item{:href => "#"} Internet światłowodowy
          .dropdown-divider
          %a.dropdown-item{:href => "#"} Systemy monitoringu
          %a.dropdown-item{:href => "#"} Systemy alarmowe
          %a.dropdown-item{:href => "#"} Domofony / Wideodomofony
          .dropdown-divider
          %a.dropdown-item{:href => "#"} Serwis sprzętu komputerowego
          .dropdown-divider
          %a.dropdown-item{:href => "#"} Cennik usług
      %li.nav-item.active
        .nav-link
          = link_to 'Kontakt', pages_contact_path
    %form.form-inline.my-2.my-lg-0
      %input.form-control.mr-sm-2{"aria-label" => "Search", :placeholder => "Szukaj", :type => "search"}/
      %button.btn.btn-outline-success.my-2.my-sm-0{:type => "submit"} Szukaj
      - if current_user
        = current_user.email
        = link_to 'Account settings', edit_user_registration_path
        = link_to 'Sign out', destroy_user_session_path, method: :delete
      - else
        = link_to 'Sign Up', new_user_registration_path
        = link_to 'Log In', new_user_session_path